<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Start-Up Chile / Startups</title>
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <link rel="shortcut icon" href="../../flat-ui/images/favicon.ico">
        <link rel="stylesheet" href="../../flat-ui/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="../../flat-ui/css/flat-ui.css">
        <!-- Using only with Flat-UI (free)-->
        <link rel="stylesheet" href="../../common-files/css/icon-font.css">
        <!-- end -->
        <link rel="stylesheet" href="../../common-files/css/animations.css">
        
        <!-- If you don't use any of these blocks just remove unnecessary CSS files -->

        <!--especial - css-->
        <link rel="stylesheet" href="../../common-files/css/especial.css">
        <!--especia - css-->

        <!-- blog -->
        <link rel="stylesheet" href="../../ui-kit/ui-kit-blog/css/style.css">
        <!-- contacts -->
        <link rel="stylesheet" href="../../ui-kit/ui-kit-contacts/css/style.css">
        <!-- content -->
        <link rel="stylesheet" href="../../ui-kit/ui-kit-content/css/style.css">
        <!-- crew -->
        <link rel="stylesheet" href="../../ui-kit/ui-kit-crew/css/style.css">
        <!-- footer -->
        <link rel="stylesheet" href="../../ui-kit/ui-kit-footer/css/style.css">
        <!-- header -->
        <link rel="stylesheet" href="../../ui-kit/ui-kit-header/css/style.css">
        <!-- price -->
        <link rel="stylesheet" href="../../ui-kit/ui-kit-price/css/style.css">
        <!-- projects -->
        <link rel="stylesheet" href="../../ui-kit/ui-kit-projects/css/style.css">
    </head>

    <body>
        
        <div class="page-wrapper">

        <!-- header-10 -->
      <header class="header-10">
        <div class="container">
          <div class="row">
            <div class="navbar col-sm-12" role="navigation">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle"></button>
                <a class="brand" href="#">Startup</a>
              </div>
              <div class="collapse navbar-collapse pull-right">
                <ul class="nav pull-left">
                  <li>
                  <a href="http://www.startupchile.org/blog/">Blog</a>
                  </li>

                  <li>
                  <a href="#">About US</a>
                  </li>

                  <li>
                  <a href="#">Acceleration & Experience</a>
                  </li>

                  <li>
                  <a href="#">Partners</a>
                  </li>

                  <li>
                  <a href="#">Mentors</a>
                  </li>

                  <li>
                  <a href="#">Startups</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="header-background"></div>
      </header>
      
      <!--HEADER - 10-->

      <div class="content_1 page-header">
          
        <!-- Sidebar -->
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <img width="260" higth="260" src="https://pbs.twimg.com/profile_images/1619162409/Logo_MDS_Twitter_FINAL.png">
          <br>
           <div>
          </br>

          <!--small>
            <em class="text-muted">
              <span>Created on Oct 24, 2014 by Jorge Vidaurre</span>
            </em>
          </small--></br>

          <div>
          </br>
          <strong>Industries</strong>
            <br>
            Software
          </div>
          </br>
          
          </div>
          <div>
          </br>
          <strong>Aceleradora/Incubadora</strong>
            <br>
            Startup Chile
          </div>
          </br>

          <strong>Website & Social Networks</strong>
            <br>
            Web Site: <a href="http://www.motiondisplays.cl/">Motion Displays</a><br>
            LinkedIn: <a href="https://www.linkedin.com/company/motion-displays">LinkedIn</a><br>
            Angelist: <a href="https://angel.co/motion-displays">Agellist</a><br/><br/>


          <address>
            <strong>Contact</strong><br>
            <a href="mailto:#">stgo@startupchile.org</a>
          </address>
          
        </div>
        <!-- Sidebar -->
        <!-- Body content -->
        <div class="col-md-9">
          <h1 class="title">Motion Displays</h1>
          <h6 class="title">Next Generation of Mobile Software tools for in-store Retail.</h6>
          
          
          <!-- Startup body  -->
          
          <div class="content page-header">
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active"><a href="#">Profile</a></li>
              <li role="presentation"><a href="#">Activity</a></li>
              <li role="presentation"><a href="#">other</a></li>
            </ul>

            <div class="row">
              <div class="col-md-12">
                <h4>Description</h4>
                <p >We develop the next generation of sales force productivity software for the retail industry. Our mobile solutions solve the most pressing challenges that brick n' mortar retailer’s face: their customer’s in store experience. Our cloud based mobile tool not only increases sales force efficiency but enhances the customer experience at the P.O.P to ultimately drive overall sales of the retailers.</p>
              
              
              <!--
              <div class="col-md-6">
                <div class="embed-responsive embed-responsive-16by9">
                  <iframe src="//player.vimeo.com/video/28111153" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="http://vimeo.com/28111153">Motion Displays Reel</a> from <a href="http://vimeo.com/user7685508">Nick Martelanz</a> on <a href="https://vimeo.com">Vimeo</a>.</p> 
                </div>
              </div>
              -->
            
              
              <h5>Team</h5>
              <!--  <p><img src="https://d1qb2nb5cznatu.cloudfront.net/users/111610-medium_jpg?1405529503"></p>  -->
                <a href=""><p >Nicolas Martelanz</p></a>
                
                
              <h5>Hiring</h5>
                <p> Motion Displays hasn't added any jobs yet. </p>
              </div>  
            </div>
          </div>
          
          <!-- value proposition body  -->  
        </div>
        <!-- Body content -->
      </div>  
      </div>


      <!-- footer-10 -->
      <footer class="footer-10">
        <div class="container">
          <div class="row">
            <div class="col-sm-2 col-sm-offset-1">
                <nav>
                    <h6>Company</h6>
                    <ul>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Team</a></li>
                        <li><a href="#">Career</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </nav>

            </div>

            <div class="col-sm-2 col-sm-offset-1">
                
                <nav>
                    <h6>About Us</h6>
                    <ul>
                        <li><a href="#">StartUp Chile</a></li>
                        <li><a href="#">Core Values</a></li>
                        <li><a href="#">Team</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </nav>

            </div>
            <div class="col-sm-2 col-sm-offset-1">
                
                <nav>
                    <h6>Acelerated & Experience</h6>
                    <ul>
                        <li><a href="#">Sup Acedemy</a></li>
                        <li><a href="#">Intro Day</a></li>
                        <li><a href="#">Pitch Day</a></li>
                        <li><a href="#">Demo Day</a></li>
                    </ul>
                </nav>

            </div>
            <div class="col-sm-2 col-sm-offset-1">
               
                <nav>
                    <h6><a href="#">Partners</a></h6>
                    <h6>Mentors</h6>
                    <ul>
                        <li><a href="#">In Residence</a></li>
                        <li><a href="#">Wrld Mentors</a></li>
                    </ul>
                </nav>

            </div>

            <div class="col-sm-2 col-sm-offset-1">
               
                <nav>
                    <h6>Startups</h6>
                    <ul>
                        <li><a href="#">Categories</a></li>
                        <li><a href="#">Success Stories</a></li>
                    </ul>
                </nav>

            </div>

            <div class="col-sm-2 col-sm-offset-1">
               
                <nav>
                    <h6>Social Media</h6>
                    <ul>
                        <li><a href="#">Facebook</a></li>
                        <li><a href="#">Twitter</a></li>
                        <li><a href="#">Youtube</a></li>
                        <li><a href="#">Intagram</a></li>
                    </ul>
                </nav>

            </div>

        </div>
        </div>
       
        </div>
        <div class="container">
          <div class="row">
            <div class="col-sm-3">
              <a class="brand" href="#">
                <img src="http://cl.gew.co/sites/cl.gew.co/files/user-images/logo-start-up-chile.png" width="auto" height="auto" 
              </a>
            </div>
            <div class="col-sm-3">
                <div class="box box-first">
                    <h6>Santiago Centro</h6>
                    <p>Moneda #975</p>
                </div>
                <br class="hidden-xs">
                <div class="box">
                    <h6>Providencia</h6>
                    <p>Avda. Providencia #229</p>
                </div>
            </div>
            <div class="col-sm-4 col-sm-offset-1 box">
                <h6>Help</h6>
                <p>Need help? Don’t hestiate to ask us something. Email us directly
                    <a href="#">contacto@startupchile.org</a> or call us at 1-347-567-8670.
                    You can checkout our <a href="#">FAQ</a> and <a href="#">Help</a>
                    page to get more information about our program.
                </p>
            </div>
          </div>
        </div>
      </footer>
      <div class="delimiter-big"></div>
      <!--FOOTER - 10-->



     
        </div>

        <!-- Placed at the end of the document so the pages load faster -->
        <script src="../../common-files/js/jquery-1.10.2.min.js"></script>
        <script src="../../flat-ui/js/bootstrap.min.js"></script>
        <script src="../../common-files/js/modernizr.custom.js"></script>
        <script src="../../common-files/js/page-transitions.js"></script>
        <script src="../../common-files/js/startup-kit.js"></script>
    </body>
</html>