<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Start-Up Chile / Startups</title>
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <link rel="shortcut icon" href="../../flat-ui/images/favicon.ico">
        <link rel="stylesheet" href="../../flat-ui/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="../../flat-ui/css/flat-ui.css">
        <!-- Using only with Flat-UI (free)-->
        <link rel="stylesheet" href="../../common-files/css/icon-font.css">
        <!-- end -->
        <link rel="stylesheet" href="../../common-files/css/animations.css">
        
        <!-- If you don't use any of these blocks just remove unnecessary CSS files -->

        <!--especial - css-->
        <link rel="stylesheet" href="../../common-files/css/especial.css">
        <!--especia - css-->

        <!-- blog -->
        <link rel="stylesheet" href="../../ui-kit/ui-kit-blog/css/style.css">
        <!-- contacts -->
        <link rel="stylesheet" href="../../ui-kit/ui-kit-contacts/css/style.css">
        <!-- content -->
        <link rel="stylesheet" href="../../ui-kit/ui-kit-content/css/style.css">
        <!-- crew -->
        <link rel="stylesheet" href="../../ui-kit/ui-kit-crew/css/style.css">
        <!-- footer -->
        <link rel="stylesheet" href="../../ui-kit/ui-kit-footer/css/style.css">
        <!-- header -->
        <link rel="stylesheet" href="../../ui-kit/ui-kit-header/css/style.css">
        <!-- price -->
        <link rel="stylesheet" href="../../ui-kit/ui-kit-price/css/style.css">
        <!-- projects -->
        <link rel="stylesheet" href="../../ui-kit/ui-kit-projects/css/style.css">
    </head>

    <body>
        
        <div class="page-wrapper">

        <!-- header-10 -->
      <header class="header-10">
        <div class="container">
          <div class="row">
            <div class="navbar col-sm-12" role="navigation">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle"></button>
                <a class="brand" href="#">Startup</a>
              </div>
              <div class="collapse navbar-collapse pull-right">
                <ul class="nav pull-left">
                  <li>
                  <a href="http://www.startupchile.org/blog/">Blog</a>
                  </li>

                  <li>
                  <a href="#">About US</a>
                  </li>

                  <li>
                  <a href="#">Acceleration & Experience</a>
                  </li>

                  <li>
                  <a href="#">Partners</a>
                  </li>

                  <li>
                  <a href="#">Mentors</a>
                  </li>

                  <li>
                  <a href="#">Startups</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="header-background"></div>
      </header>
      
      <!--END HEADER - 10-->
    <!-- content-10  -->
            <section class="content-10">
                <div class="container">
                    <div class="row">
                      <h3>Descubre nuestras Startups</h3>
                        <div class="col-sm-6">
                            <div class="features">
                                <div class="box">
                                    <img src="img/retina@2x.png" width="100" height="100" alt="">
                                    <h6>Startup 1</h6>
                                    <p>
                                        To get started, you select the desired sample and base the entire website on it. It’s that simple!
                                    </p>
                                </div>
                                <div class="box">
                                    <img src="img/gift@2x.png" width="100" height="100" alt="" >
                                    <h6>Startup 2 </h6>
                                    <p>
                                        Samples will show you the feeling on how to play around using the components in the website building process.
                                    </p>
                                </div>
                                <div class="box">
                                    <img src="img/time@2x.png" width="100" height="100" alt="" >
                                    <h6>Startup 3</h6>
                                    <p>
                                        Responsive web design is a web design approach aimed to provide crafting sites.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="features">
                                <div class="box">
                                    <img src="img/retina@2x.png" width="100" height="100" alt="">
                                    <h6>Startup 1</h6>
                                    <p>
                                        To get started, you select the desired sample and base the entire website on it. It’s that simple!
                                    </p>
                                </div>
                                <div class="box">
                                    <img src="img/gift@2x.png" width="100" height="100" alt="" >
                                    <h6>Startup 2 </h6>
                                    <p>
                                        Samples will show you the feeling on how to play around using the components in the website building process.
                                    </p>
                                </div>
                                <div class="box">
                                    <img src="img/time@2x.png" width="100" height="100" alt="" >
                                    <h6>Startup 3</h6>
                                    <p>
                                        Responsive web design is a web design approach aimed to provide crafting sites.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
      


      <!-- footer-10 -->
      <footer class="footer-10">
        <div class="container">
          <div class="row">
            <div class="col-sm-2 col-sm-offset-1">
                <nav>
                    <h6>Company</h6>
                    <ul>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Team</a></li>
                        <li><a href="#">Career</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </nav>

            </div>

            <div class="col-sm-2 col-sm-offset-1">
                
                <nav>
                    <h6>About Us</h6>
                    <ul>
                        <li><a href="#">StartUp Chile</a></li>
                        <li><a href="#">Core Values</a></li>
                        <li><a href="#">Team</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </nav>

            </div>
            <div class="col-sm-2 col-sm-offset-1">
                
                <nav>
                    <h6>Acelerated & Experience</h6>
                    <ul>
                        <li><a href="#">Sup Acedemy</a></li>
                        <li><a href="#">Intro Day</a></li>
                        <li><a href="#">Pitch Day</a></li>
                        <li><a href="#">Demo Day</a></li>
                    </ul>
                </nav>

            </div>
            <div class="col-sm-2 col-sm-offset-1">
               
                <nav>
                    <h6><a href="#">Partners</a></h6>
                    <h6>Mentors</h6>
                    <ul>
                        <li><a href="#">In Residence</a></li>
                        <li><a href="#">Wrld Mentors</a></li>
                    </ul>
                </nav>

            </div>

            <div class="col-sm-2 col-sm-offset-1">
               
                <nav>
                    <h6>Startups</h6>
                    <ul>
                        <li><a href="#">Categories</a></li>
                        <li><a href="#">Success Stories</a></li>
                    </ul>
                </nav>

            </div>

            <div class="col-sm-2 col-sm-offset-1">
               
                <nav>
                    <h6>Social Media</h6>
                    <ul>
                        <li><a href="#">Facebook</a></li>
                        <li><a href="#">Twitter</a></li>
                        <li><a href="#">Youtube</a></li>
                        <li><a href="#">Intagram</a></li>
                    </ul>
                </nav>

            </div>

        </div>
        </div>
       
        </div>
        <div class="container">
          <div class="row">
            <div class="col-sm-3">
              <a class="brand" href="#">
                <img src="http://cl.gew.co/sites/cl.gew.co/files/user-images/logo-start-up-chile.png" width="auto" height="auto"  
              </a>
            </div>
            <div class="col-sm-3">
                <div class="box box-first">
                    <h6>Santiago Centro</h6>
                    <p>Moneda #975</p>
                </div>
                <br class="hidden-xs">
                <div class="box">
                    <h6>Providencia</h6>
                    <p>Avda. Providencia #229</p>
                </div>
            </div>
            <div class="col-sm-4 col-sm-offset-1 box">
                <h6>Help</h6>
                <p>Need help? Don’t hestiate to ask us something. Email us directly
                    <a href="#">contacto@startupchile.org</a> or call us at 1-347-567-8670.
                    You can checkout our <a href="#">FAQ</a> and <a href="#">Help</a>
                    page to get more information about our program.
                </p>
            </div>
          </div>
        </div>
      </footer>
      <div class="delimiter-big"></div>
      <!--FOOTER - 10-->



     
        </div>

        <!-- Placed at the end of the document so the pages load faster -->
        <script src="../../common-files/js/jquery-1.10.2.min.js"></script>
        <script src="../../flat-ui/js/bootstrap.min.js"></script>
        <script src="../../common-files/js/modernizr.custom.js"></script>
        <script src="../../common-files/js/page-transitions.js"></script>
        <script src="../../common-files/js/startup-kit.js"></script>
    </body>
</html>